body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

h1 {
    font-family:'Segoe UI';
    padding: 5px 6px;
    color: white;
    border-radius: 3px;
}

#click-counter {
    font-weight: 500;
}

p{
    color:  white;
}

#upgrade{
    border-radius: 10px;
	box-shadow: 0 5px 16px #908aeb;
}

.lvlup {
    text-align: center;
    font-family:'Segoe UI';
    border-radius: 10px;
	box-shadow: 0 5px 16px #7269ee;
}

.container {
    font-family: 'Segoe UI';
    border-radius: 10px;
	box-shadow: 0 5px 16px #fff990;
    text-align: center;
    background-color: black;
}

button {
    font-family: 'Segoe UI';
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #050607;
    color: white;
    box-shadow: 0 4px 27px #fff990;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #344145;
}

